.siderbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 84%;
}

.siderbar {
  width: 548px;
  height: 444px;
}

.siderbar-container {
  display: flex;
  align-items: center;
}

.siderbar1-image1 {
  background-image: url("../images/home2.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.siderbar1-image2 {
  background-image: url("../images/home3.png");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.siderbar-content {
  width: 535px;
  display: flex; 
  flex-direction: column;
  height: 400px;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* width screen <= 576px */
@media (max-width: 575px) {
  
}

/* width screen >= 576px -> < 768px */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/* width screen >= 768px -> < 992px */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* width screen >= 992px -> < 1200px */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* width screen >= 1200px */
@media (min-width: 1200px) {

}

 




.gradient {
  background-image: linear-gradient(
    -90deg,
    #ffffff 0%,
    #dbdbdb 50%,
    #ffffff 100%
  );
  height: 1px; 
  width: '100%';
  margin-top: 80px;
}
